PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crates?schema=public"
JWT_ACCESS_SECRET="crates_dev_access_secret_key_32_characters_long_min"
JWT_REFRESH_SECRET="crates_dev_refresh_secret_key_32_characters_long_min"
CORS_ORIGIN="http://localhost:5173"
